.homeView {
    min-height: 100vh;
    background: url('../../images/fond.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.homeView h1 {
    color: white;
    text-align: center;
}