.cardSubmit-logout, .cardSubmit-login {
    color: white;
}

.cardSubmit-logout {
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 15px rgba(113, 113, 113, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    align-items: center;  
    font-size: 30px;
    text-align: center;  
}

.cardSubmit-login {
    width: 70%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 15px rgba(113, 113, 113, 0.5);
    display: flex;
    flex-direction: column;
    padding: 3% 7%;
    font-size: 30px;
}

.cardSubmit-login .title {
    margin-bottom: 3%;
    text-align: center;
}

.cardSubmit-login .inputNameCocktail {
    width: 50%;
    margin: 2% auto 7% auto;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

.cardSubmit-login .other_p {
    font-size: 22px;
}

/**************************** Début pour gérer les Tab ****************************/
/*.cardSubmit-login .custom-tabs {
}*/

.cardSubmit-login .custom-tab-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
    list-style-type: none;
    margin-bottom: 4%;
}

.cardSubmit-login .custom-tab {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/**************************** Fin pour gérer les Tab ****************************/

.cardSubmit-login .alcoolInfo .in-boxlInfo > div {
    display: flex;
    align-items: center;
}
.cardSubmit-login .ingredientInfo .in-boxlInfo{
    display: flex; 
    align-items: center; 
}
.cardSubmit-login .softInfo .in-boxlInfo{
    display: flex;
    align-items: center;
}

.cardSubmit-login .in-boxlInfo hr {
    width: 100%;
    border: none;
    border-top: 2px dashed #fff;
    margin: 0 10px;
}

.cardSubmit-login .in-boxlInfo input {
    color: black;
    text-align: center; 
    font-size: 24px;
}

.cardSubmit-login .in-boxlInfo .checkbox {
    transform: scale(3);
    margin-left: 1%;
} 


/**************************** Bouton submit ****************************/
.cardSubmit-login .btn_submit {
    width: 50%;
    margin: 0% auto;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
}

@media screen and (max-width: 1360px) {
    .cardSubmit-login .title {
        margin: 0% 5%;
    }
}

@media screen and (max-width: 1245px) {
    .cardSubmit-login .title {
        margin: 5% 0%;
    }
}

@media screen and (max-width: 940px) {
    .cardSubmit-login .title {
        margin: 5% 0% 2%;
    }
    .cardSubmit-login .custom-tab-list {
        flex-direction: column;
        margin-bottom: 10%;
        gap: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 880px) {
    .cardSubmit-login .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 740px) {
    .cardSubmit-login {
        width: 80%;
    }
    .cardSubmit-login .title {
        font-size: 40px;
        margin: 5% 0% 5%;
        
    }
}

@media screen and (max-width: 500px) {
    .cardSubmit-login .title {
        font-size: 30px;
    }
}