.adminView {
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 15px rgba(113, 113, 113, 0.5);
    padding: 3%;
    font-size: 30px;
    margin: 3% auto 5%;
    color: white;
}

.adminView .title_p {
    font-size: 2em;
    margin-bottom: 5%;
    text-align: center;
}

.adminView .custom-tab-list {
    margin-bottom: 5%;
}

/**************************** Début pour gérer les Tab ****************************/
.adminView .custom-tab-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
    list-style-type: none;
    margin-bottom: 4%;
}

.adminView .custom-tab {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/**************************** Fin pour gérer les Tab ****************************/


@media screen and (max-width: 1200px) {
    .adminView .custom-tab-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 40%;
        text-align: center;
        margin: 0% auto 7%;
    }
}

@media screen and (max-width: 720px) {
    .adminView .custom-tab-list {
        width: 50%;
    }
}

@media screen and (max-width: 530px) {
    .adminView .title_p {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 15%;
    }
    .adminView .custom-tab-list {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .adminView .custom-tab-list {
        width: 65%;
    }
}